{% extends "base.html" %}


{% block content %}


    


<div class="container">
    <h1 class="text-center  mt-4">Embassy of India - Home Page</h1>

</div>


<div class="container">
    <div class="row">
        <div class="col-6">
          

        <div class="mt-5">

            <pre class="h4">
    <b>Address:</b> Embassy of India, Dublin
             69 Merrion Road,
             Ballsbridge, Dublin 4   
            </pre>
        </div>

        <div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2383.1813836580077!2d-6.22118122300398!3d53.32210557653666!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48670ea526a20653%3A0xe9b49ff0d9605756!2sEmbassy%20of%20India!5e0!3m2!1sen!2sie!4v1702568004734!5m2!1sen!2sie" width="600" height="400" style="border: 10px;;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>

        </div>

        <div class="col-6">

            <div class="mt-5">

                <pre class="h5">
    <b>Telephone numbers:</b> 

    General Querries: 01-2060932 (Open 2.00pm - 
    4.00pm)

    Emergency No: 0899423734 (Open 24h)

    
    <b>Emails:</b> 

    <a href="#">cons.dublin@mea.gov.in</a> – For Visa, 
    Attestation and other miscellaneous services

    <a href="#">passport.dublin@mea.gov.in</a> – For Passport 
    and OCI Card related queries/information

    <a href="#">sscons.dublin@mea.gov.in</a> – For Any Other
    Querries

    For more information visit:
    <a href="#">www.indianembassydublin.gov.in</a>
        </pre>
            </div>

        </div>
    </div>
</div>
</body>

{% endblock content %}



